*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Plus Jakarta Sans',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364,#6a11cb);
    background-size:400% 400%;
    animation:bgMove 15s ease infinite;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.wrapper{
    width:900px;
    height:520px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(25px);
    border-radius:25px;
    display:flex;
    overflow:hidden;
    box-shadow:0 0 70px rgba(0,0,0,0.5);
}

/* LEFT SIDE */
.left{
    flex:1;
    background:linear-gradient(135deg,#6a11cb,#2575fc,#ff2d55);
    background-size:300% 300%;
    animation:leftMove 8s ease infinite;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    padding:40px;
    text-align:center;
    position:relative;
}

@keyframes leftMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.circle{
    width:120px;
    height:120px;
    border-radius:50%;
    background:radial-gradient(circle,#ffffff,transparent);
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:25px;
    animation:pulse 2.5s infinite;
}

.circle span{
    font-size:40px;
    font-weight:900;
    color:#6a11cb;
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}
}

.left h2{
    font-size:2rem;
    font-weight:900;
}

.left p{
    margin-top:10px;
    font-size:0.9rem;
    opacity:0.85;
}

/* RIGHT SIDE */
.right{
    flex:1;
    background:white;
    padding:60px 50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.right h1{
    margin-bottom:30px;
    color:#333;
}

.input-group{
    margin-bottom:20px;
}

.input-group input{
    width:100%;
    padding:14px;
    border-radius:12px;
    border:1px solid #ddd;
    outline:none;
    transition:0.3s;
}

.input-group input:focus{
    border-color:#6a11cb;
    box-shadow:0 0 15px rgba(106,17,203,0.3);
}

.btn{
    padding:14px;
    border:none;
    border-radius:30px;
    font-weight:bold;
    cursor:pointer;
    background:linear-gradient(90deg,#6a11cb,#2575fc);
    color:white;
    transition:0.4s;
}

.btn:hover{
    transform:scale(1.05);
    background:linear-gradient(90deg,#ff2d55,#ffcc00);
    box-shadow:0 0 25px rgba(255,45,85,0.5);
}

.secondary-btn{
    background:linear-gradient(90deg,#6a11cb,#2575fc);
    box-shadow:0 0 25px rgba(106,17,203,0.5);
     margin-top:20px;
}

.footer{
    margin-top:20px;
    font-size:0.8rem;
    color:#777;
}